<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title> James' Encrypter </title>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
        <script src="./js/vue.js"> </script>
        <script>

            /* Helper modulo function */
            function mod(n, m) {
                return ((n % m) + m) % m;
            }

            /* Helper variables */
            minLower = 'a'.charCodeAt();
            maxLower = 'z'.charCodeAt();
            minUpper = 'A'.charCodeAt();
            maxUpper = 'Z'.charCodeAt();

            function caesarEncrypt (char, offset = 1) {

                charCode = char.charCodeAt();
                newChar = char;

                if (charCode >= minLower && charCode <= maxLower) {

                    newChar = String.fromCharCode(
                        mod((charCode + offset - minLower), 26) + minLower
                    );

                }
                else if (charCode >= minUpper && charCode <= maxUpper) {

                    newChar = String.fromCharCode(
                        mod((charCode + offset - minUpper), 26) + minUpper
                    );

                }

                return newChar;
            }

            function caesarDecrypt (char, offset) {
                charCode = char.charCodeAt();
                newChar = char;

                if (charCode >= minLower && charCode <= maxLower) {

                    newChar = String.fromCharCode(
                        mod((charCode - offset - minLower), 26) + minLower
                    );

                }
                else if (charCode >= minUpper && charCode <= maxUpper) {

                    newChar = String.fromCharCode(
                        mod((charCode - offset - minUpper), 26) + minUpper
                    );

                }

                return newChar;
            }

            window.onload = function () {
                $app = new Vue({
                    el: "#app",
                    data: {
                        offset: 1,
                        message: "Hello world!",
                        mode: "decrypt",
                        algorithm: "caesar"

                    },
                    computed: {
                        caesar_encrypt: function () {
                            return this.message
                                .split("")
                                .map( (letter) => { return caesarEncrypt(letter, this.offset) } )
                                .join("");
                        },

                        caesar_decrypt: function () {
                            return $text
                                .split("")
                                .map( (letter) => { return caesarDecrypt(letter, this.offset) } )
                                .join("");
                        },

                        process_text: function () {
                            if ( this.mode === "decrypt" ) {
                                switch ( this.algorithm ) {
                                    case "caesar":
                                        return this.message.split("")
                                            .map( (letter) => { return caesarEncrypt (letter, this.offset) } )
                                            .join("");
                                }
                            }
                            else if ( this.mode === "encrypt" ) {
                                switch ( this.algorithm ) {
                                    case "caesar":
                                        return this.message.split("")
                                            .map( (letter) => { return caesarDecrypt (letter, this.offset) } )
                                            .join("");
                                }
                            }
                        },

                        toggle_button_class: function () {
                            if ( this.mode === "decrypt" ) { return "btn-primary"; }
                            return "btn-danger";
                        },

                        toggle_button_label: function () {
                            if ( this.mode === "decrypt" ) { return "In Encrypt Mode"; }
                            return "In Decrypt Mode";
                        },

                        input_field_label: function () {
                            if ( this.mode === "decrypt" ) { return "Plaintext"; }
                            return "Ciphertext";
                        },

                        output_field_label: function () {
                            if ( this.mode === "decrypt" ) { return "Ciphertext"; }
                            return "Plaintext";
                        }

                    },

                    methods: {
                        toggle_mode: function () {
                            if ( this.mode === "encrypt" ) {
                                this.mode = "decrypt"
                                return;
                            }
                            this.mode = "encrypt";
                        }
                    }
                });
            }
        </script>

        <style>
            #app {
                max-width: 550px;
                margin: 20px auto 0px auto;
            }
        </style>


    </head>

    <body>
        <div id="app" class="container">

            <h1> Caesar Encrypter </h1>

            <div class="well well-sm">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="control-label"> Mode: </label>
                        <a class="btn btn-sm" v-on:click="toggle_mode()" v-bind:class="this.toggle_button_class"> {{ toggle_button_label }} </a>
                    </div>

                    <div class="form-group">
                        <label class="control-label"> Offset: </label>
                        <input v-model="offset" class="form-control" type="number" placeholder="Amount of offset...">
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> {{ input_field_label }}: </label>
                    <textarea v-model="message" class="form-control" placeholder="Insert plaintext here..."></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> {{ output_field_label }}: </label>
                    <textarea v-bind:value="process_text" class="form-control" placeholder="Encrypted text..."></textarea>
                </div>
            </div>


            </div>
        </div>
    </body>
</html>
